:root {
  --serious-font: "Roboto Slab", serif;
  --relaxed-font: "League Spartan", sans-serif;
  --lt-base-col: #fbe180;
  --lt-base-col-alt: #fff9c7;
  --lt-rest-col: #edeae5;
  --lt-accent-col: #9fedd7;
  --lt-accent-col-alt: #016670;
  --dt-base-col: #510a32;
  --dt-base-col-alt: #801336;
  --dt-rest-col: #2d142c;
  --dt-accent-col: #ee4540;
  --dt-accent-col-alt: #c92a42;
  --et-base-col: #01b9f7;
  --et-base-col-alt: #13e5fe;
  --et-rest-col: #b8f7ff;
  --et-accent-col: #fe61a8;
  --et-accent-col-alt: #fe0072;
  --text-col-light: #d2d2d2;
  --text-col-dark: #0a1114;
  --tooltip-sp: 10;
  --fixed-sp: 20;
  --modal-sp: 30;
  --humongous-font: 2rem;
  --largest-font: 1.5rem;
  --larger-font: 1.25rem;
  --large-font: 1.125rem;
  --base-font: 0.875rem;
  --small-font: 0.75rem;
  --smaller-font: 0.75rem; }

@media screen and (min-width: 968px) {
  :root {
    --humongous-font: 3rem;
    --largest-font: 2.25rem;
    --larger-font: 1.5rem;
    --large-font: 1.25rem;
    --base-font: 1rem;
    --small-font: 0.875rem;
    --smaller-font: 0.75rem; } }

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

html {
  scroll-behavior: smooth; }

body {
  background-color: var(--lt-rest-col);
  margin: 0 0 3rem 0;
  color: var(--text-col-dark);
  font-family: var(--relaxed-font);
  font-size: var(--base-font);
  font-weight: 400; }

h1,
h2,
h3,
h4 {
  color: var(--text-col-dark);
  font-weight: 700; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

img {
  max-width: 100%;
  height: auto; }

.container {
  max-width: 768px;
  margin: 0 1.5rem; }

.grid {
  display: grid;
  gap: 1.5rem; }

header {
  width: 100%;
  background-color: var(--lt-base-col);
  position: fixed;
  z-index: var(--fixed-sp);
  bottom: 0;
  left: 0; }

.section {
  padding: 2rem 0 4rem; }

.section__title {
  font-size: var(--largest-font); }

.section__subtitle {
  display: block;
  margin-bottom: 3rem;
  font-size: var(--small-font); }

.section__title,
.section__subtitle {
  text-align: center; }

.nav {
  max-width: 968px;
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.nav__logo,
.nav__toggle {
  color: var(--lt-accent-col-alt);
  font-size: 1.25rem;
  font-weight: 700;
  cursor: pointer; }

@media screen and (max-width: 767px) {
  .nav__menu {
    width: 100%;
    background-color: var(--lt-base-col);
    padding: 2rem 1.5rem 4rem;
    border-radius: 1.5rem 1.5rem 0 0;
    position: fixed;
    bottom: -100%;
    left: 0;
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
    transition: 0.3s; } }

.nav__list {
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem; }

.nav__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--lt-accent-col-alt);
  font-size: var(--small-font);
  font-weight: 700; }

.nav__icon {
  font-size: 1.125rem; }

.nav__close {
  position: absolute;
  right: 1.25rem;
  bottom: 0.5rem;
  color: var(--lt-accent-col-alt);
  font-size: 1.5rem;
  cursor: pointer; }

.show-menu {
  bottom: 0; }
